.post{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    width: 300px;
    text-align: center;
}

.post__header{
    display: flex;
    justify-content: right;
    align-items: center; /* Align items vertically */
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.Post_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}
.post__caption{
    display: flex;
}
.post__like_comment{
    display: flex;
    justify-content: right;
    margin: 5px;
    padding: 5px;
    border-top: 1px solid #ccc;
}

.rounded {
    height: 40px;
    width: 40px; /* Add width to make it a square */
    object-fit:fill;
    border-radius: 50%; /* Make it circular */
}

.pic{
width: 100%;
height: 100%;
object-fit: fill;
}


  
.liked{
    background-color: initial;
    background-image: linear-gradient(-180deg, #d70000, #bd0000);
    border-radius: 5px;
    height: 48px;
    min-width: 140px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
}

.liked:hover {
    background: #bd0000;
  }



.nolike {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .nolike:focus {
    color: #171e29;
  }
  
  .nolike:hover {
    border-color:rgb(230, 6, 6);
    color: rgb(230, 6, 6);
    fill: rgb(230, 6, 6);
  }
  
  .nolike:active {
    border-color: rgb(230, 6, 6);
    color: rgb(230, 6, 6);
    fill: rgb(230, 6, 6);
  }
  
  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }



  .button_58 {
    align-items: center;
    background-color: #06f;
    border: 2px solid #06f;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button_58:focus {
    color: #171e29;
  }
  
  .button_58:hover {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
  }
  
  .button_58:active {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
  }
  
  @media (min-width: 768px) {
    .button-58 {
      min-width: 170px;
    }
  }