.dropDownProfile{
    position: absolute;
    top: 50px;
    right: 84%;
    width: 150px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    z-index: 100;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul li {
    padding: 5px;
    color: white;
    border: 1px solid black;
    margin: 5px;
    background-color: gold;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}