.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
}


.selectgif{
    width: 20%;
    height: 50%;
    border: 1px dotted black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px;

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.gifs{
    padding: 2px;
}

.allgifs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
}

.thegif{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}   